 * {
     margin: 0;
     padding: 0;
 }

 /* Header Part Start Here */

 .header-container {
     background-color: rgba(31, 10, 14, 0.1);
     /* width: 50%;  */
     /* height: 850px; */
     padding: 0px 140px 0px 110px;
     display: flex;
     justify-content: space-around;
 }

 #Header-body1 h1 {
     color: #272727;
     font-family: Lato;
     font-size: 65px;
     font-weight: 800;
     width: 758px;
     /* height: 288px; */
     padding-top: 90px;
     color: rgb(47, 100, 15);
     padding-bottom: 20px;
 }

 #Header-body1 p {
     color: rgba(39, 39, 39, 0.60);
     font-family: Lato;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 20px;
     width: 700px;
 }

 #Header-body1 button {
     margin: 20px 0;
     padding: 8px 20px;
     background-color: pink;
     border: 1px solid black;
     color: black;
     font-weight: 700;
     font-size: 15px;
     border-radius: 8px;

 }

 #Header-body1 button:hover {
     background-color: green;
     box-shadow: 1px 1px 3px black;
 }

 #Header-body2 img {
     margin-bottom: -5px;
     padding-top: 50px;
     width: 100%;
     height: auto;


 }

 /* Header Part End Here */


 /* main part start here */

 /* our feature head */

 .our-feature {
     text-align: center;
     margin-top: 120px;
 }

 .our-feature-head h1 {
     color: #272727;
     font-family: Lato;
     font-size: 40px;
     font-weight: 800;
 }

 .our-feature-head p {
     color: rgba(39, 39, 39, 0.60);
     font-family: Lato;
     font-size: 18px;
     font-weight: 400;
     /* width: 50%; */
     /* margin-bottom: 60px; */
 }

 /* feature photos section start here */

 .feature-photos-container {
     margin: 50px 320px;
     /* background-color: rgb(216, 215, 213); */
 }

 #fp-img {
     display: flex;
     justify-content: space-evenly;

 }

 #fp-img img {
     width: 220px;
     height: 300px;
     border-radius: 300px 300px 0px 0px;
     background: rgba(167, 33, 98, 0.15);
     margin-top: 30px;
     padding: 20px 20px 0px 20px;
     transition: transform 0.3s ease;
 }

 #fp-img img:nth-child(2) {
     align-items: center;
     /* width: auto; */
     height: auto;
     padding: auto;
 }

 #fp-img img:hover {
     transform: scale(1.03);
     /* margin-bottom: 5px; */
 }



 #fp-img-name {
     display: flex;
     justify-content: space-around;
 }

 #fp-img-name p {
     padding-top: 5px;
     padding-bottom: 5px;
     font-weight: 500;
 }

 /* feature photos section start here */


 /* Feature Option Start here */

 .feature-option {
     margin: 90px 220px;
 }

 .feature-option-container {
     background-color: antiquewhite;
     padding: 50px;
 }

 #feature-option-icons {
     display: flex;
     justify-content: space-evenly;
 }

 #feature-option-p {
     display: flex;
     justify-content: space-between;
     width: 70%;
     padding-left: 130px;
     padding-top: 5px;
 }


 /* Feature Option Start here */

 /* hot deal part start here */
 .hot-deal-container {
     background-color: rgb(235, 245, 241);
     padding: 0 150px 50px 220px;
     display: flex;
     justify-content: space-around;
 }

 .hot-deal-p h1 {
     padding-top: 180px;
     color: #272727;
     font-family: Lato;
     font-size: 40px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
     transition: transform 0.3s ease;
 }

 .hot-deal-p h1:hover {
     transform: scale(1.05);
     color: red;
 }

 span {
     color: red;
 }

 span:hover {
     color: blue;
 }


 .hot-deal-p p {
     color: rgba(39, 39, 39, 0.60);
     /* text-align: center; */
     font-family: Lato;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px;
     width: 80%;
     padding-bottom: 8px;
 }

 .hot-deal-p button {
     padding: 7px 18px;
     border-radius: 8px;
     background-color: pink;
     font-size: 15px;
 }


 .hot-deal-p button:hover {
     background-color: blue;
     color: white;

 }

 .hot-deal-img {
     padding-top: 50px;
 }

 /* hot deal part ends here */

 /* Instagram & Photos Container Part start Here */

 .instagram-photos-container {
     margin: 100px 200px;
 }

 #ip-head {
     text-align: center;
 }

 #ip-head h1 {
     color: #272727;
     text-align: center;
     font-family: Lato;
     font-size: 40px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
 }

 #ip-head p {
     color: rgba(39, 39, 39, 0.60);
     text-align: center;
     font-family: Lato;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px;
     padding-bottom: 50px;

 }

 #ip-img {
     display: flex;
     justify-content: space-around;
     height: 320px;
 }

 /* Instagram & Photos Container Part start Here */

 /* Latest Deals part start here */

 .latest-deals-container {
     margin: 0 200px 50px 200px;
     background-image: url('./Flower Asset/Rectangle\ 9.png');
     border-radius: 15px;
    

 }

 #latest-deals-header {
     text-align: center;
     padding-top: 150px;
 }

 #latest-deals-header h1 {
     color: #272727;
     text-align: center;
     font-family: Lato;
     font-size: 40px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
 }

 #latest-deals-header p {
     color: rgba(39, 39, 39, 0.60);
     text-align: center;
     font-family: Lato;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px;
     /* 166.667% */
 }

 .latest-deals-subscribe {

     text-align: center;
     margin-top: 20px;
 }  

 .latest-deals-subscribe input{

    padding: 15px 40px 15px 10px;
    margin-bottom:150px ;
    border-radius: 10px 0px 0px 10px;
    /* border: none; */

 }

 .latest-deals-subscribe button{
    padding: 15px 15px 15px 10px;
    margin-bottom:150px ;
    margin-left: -5px;
    border-radius: 0px 10px 10px 0px;
    /* border: none; */
    background-color: green;
    font-weight: 600;
   
 }

 .latest-deals-subscribe button:hover{
    background-color: red;
    color:white;
    font-weight: 600;
 }

 /* Latest Deals part ends here */

 /* Footer Starts Here */

 footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px 0px;
 }

 footer h1{
    margin-bottom: 20px;
 }

 footer p{
    color: rgb(105, 108, 110);
 }
 

  /* Footer Ends Here */
 /* main part start here */